<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ProjectBasePath" type="System.Configuration.NameValueSectionHandler,System,Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="FileSearchPattern" value="*.csproj"/>
		<add key="IgnoreReferencePattern" value="^System|^Microsoft"/>
	</appSettings>
	
	<ProjectBasePath>
		<add key="Path1" value="E:\Others"/>
	</ProjectBasePath>
	
</configuration>